<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-pinpad" version="1.0.0">
   <name>Pinpad</name>
   <js-module name="Pinpad" src="www/Pinpad.js">
      <clobbers target="Pinpad" />
   </js-module>
   <platform name="android">
      <config-file parent="/*" target="res/xml/config.xml">
         <feature name="Pinpad">
            <param name="android-package" value="cordova.plugin.pinpad.PinpadClass.Pinpad" />
         </feature>
      </config-file>
      <config-file parent="/*" target="AndroidManifest.xml" />
      <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
    <resource-file src="src/android/libs/paypadlib.aar" target="libs/paypadlib.aar" />
      <source-file src="src/android/Pinpad.java" target-dir="src/cordova/plugin/pinpad/PinpadClass" />
      <source-file src="src/android/MyBroadcastReceiver.java" target-dir="src/cordova/plugin/pinpad/PinpadClass" />
      <source-file src="src/android/DeviceActivity.java" target-dir="src/cordova/plugin/pinpad/activities/ActivityClass" />
      <source-file src="src/android/screen_device.xml" target-dir="res/layout" />
   </platform>
</plugin>